@use "../sass/variables" as var;

@keyframes pushReleaseFromBottom {
  from {
    transform: translateY(100%);
  }
  30% {
    transform: translateY(-100px);
  }
}

h1 {
  font-size: 3.6rem;
  font-weight: 600;
}
html body .hidden {
  display: none;
}

.btn {
  border: none;
  font-size: 1.8rem;
  padding: 1rem 3.6rem;
  background-color: #000;
  border-radius: 2.4rem;
  color: var.$color-primary-green;
  transition: all 0.3s ease;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    cursor: pointer;
    background: linear-gradient(
      135deg,
      var.$color-primary-green,
      var.$color-primary-green
    );
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }

  &--reverse {
    background-color: var.$color-primary-green;
    color: #fff;
    animation: pushReleaseFromBottom 1.2s ease-in-out;

    &:hover {
      background: linear-gradient(
        135deg,
        var.$color-primary-grey,
        var.$color-primary-grey
      );
      color: var.$color-primary-green;
    }
  }
}

.btn--small {
  background-color: #000;
  padding: 0.6rem 1.8rem;
  font-size: 1.6rem;
  &:hover {
    cursor: pointer;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
}
