$color-primary-grey: #444b54;
$color-secondary-grey: #999999;
$color-primary-green: #7dcf9b;
$color-primary-green-light: #adf9d2;
$color-error: #e32636;
$color-primary-running: #007acc;
$color-primary-cycling: #ff8800;
